@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}
.flex {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

nav {
  height: 17vh;
  width: 100vw;
  background-color: #ffffff;
  /* background-color: yellow; */
  color: black;
  justify-content: space-between;
}

section nav div img {
  height: 40px;
  width: 114px;
  margin-left: 82px;
}

.nav-button {
  margin-right: 82px;
  margin-left: 10px;
  padding: 10px 47px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #ffffff;
}

.search-icon svg {
  height: 27px;
  width: 34px;
}

.search-icon {
  padding-top: 10px;
}

.list li {
  padding: 20px 20px;
  margin-right: 17px;
  font-size: 21px;
  font-weight: 700;
}

hr {
  position: absolute;
  top: 70px;
  background-color: black;
  left: 364px;
  height: 2px;
  width: 51px;
}

.hero {
  height: 387px;
  width: 321px;
  margin-top: 43px;
  margin-left: 130px;
}
.square img {
  position: absolute;
  top: 309px;
  left: 227px;
  z-index: -1;
  height: 286px;
  width: 281px;
}

.globe img {
  position: absolute;
  top: 115px;
  left: 716px;
  height: 54px;
  width: 53px;
}
.star1 img {
  position: absolute;
  top: 171px;

  right: 143px;
  height: 43px;
  width: 45px;
}

.star2 img {
  position: absolute;

  bottom: 93px;
  left: 592px;
  height: 36px;
  width: 37px;
}
.hero-container-right {
  float: right;
  width: 784px;
  /* border: 2px solid red; */
  overflow: hidden;
}
.hero-container {
  float: left;
}

.hero-heading {
  font-size: 50px;

  margin: 112px 97px 35px 0px;
}

.hero-description {
  margin: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  margin-left: 109px;
  font-size: 13px;
  width: 486px;
  margin-bottom: 75px;
}

.button-email {
  width: 187px;
  padding: 7px 0px;
  border: 2px solid black;
  border-radius: 7px;
  margin-left: 167px;
  margin-right: 7px;
  background-color: #ffffff;
}
.button-join {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;

  height: 30px;
  font-size: 16px;
  width: 113px;
}

.contact-heading {
  margin-top: 45px;
  margin-left: 280px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.5;
  font-size: 20px;
}

.icons {
  margin-top: 11px;
  margin-left: 250px;
}
.icons span img {
  margin-right: 11px;
  height: 31px;
}

.hero-container-right p span {
  margin-left: 118px;
  font-family: Arial, Helvetica, sans-serif;
}
